.choose {
  /* max-width: 1200px; */
  margin-top:80px;
  padding: 40px 20px;
  


}

.choose .header1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  color: #ffe456;
}

.choose .content1 {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 100px;
}

.choose .content1 .left .list1 {
  padding-left: 50px;
}

.choose .content1 .right .list2 {
  padding-left: 80px;
}

.choose .left {
  flex: 1;
  
}
.choose .right {
  flex: 1;
}

.choose .content1 .middle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
}

.choose .list1 {
  list-style: none;
  padding: 0;


}

.choose .list1 li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  height: 150px;
  cursor: pointer;
}

.choose .list1 li .name1 {
  font-size: 23px;
  margin-left: 40px;
}

.choose .list1 li img {
  width: 100px;
  margin-right: 10px;
  margin-left: 30px;
}

.choose .list2 {
  list-style: none;
  padding: 0;
  transition: transform 0.3s ease;
  
}

.choose .right {
margin-right: 80px;

}


.choose .right .list2 li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  height: 150px;
  padding-left: 0px;
  cursor: pointer;
}

.choose .list2 li .name2 {
  margin-left: 30px;
  font-size: 22px;
  margin-right: 20px;
}

.choose .right .list2 img {
  width: 100px;
  margin-right: 10px;
  margin-left: 30px;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .choose {
    flex-direction: column;
    align-items: center;
  }

  .choose .left {
    width: 100%;
    text-align: center;
  }

  .choose .right {
    width: 100%;
    text-align: center;
  }
  .choose .middle {
    width: 100%;
    text-align: center;
  }

  .choose .list1 li {
    justify-content: center;
  }
}
