/* Hero section */
.hero {
  background-image: url("../../../../public/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

/* Container within the hero section */
.hero .container {
  padding-top: 15%; /* Adjust top padding */
  margin-top: 50px; /* Adjust top margin */
}

/* Heading within the hero section */
.hero h1 {
  color: #fff;
  font-size: 60px;
}

/* Paragraph within the hero section */
.hero p {
  color: #fff;
  opacity: 0.8;
}

/* Form styling */
form {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 20px;
}

/* Input field styling */
form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}

/* Placeholder text styling */
input::placeholder {
  font-size: 17px;
  color: black;
}

/* Box styling within the form */
form .box {
  padding: 20px;
  border-left: 10px solid rgba(255, 8, 8, 0.2);
}

/* Remove left border for the first box */
form .box:nth-child(1) {
  border-left: none;
}

/* Heading style within the form */
form h4 {
  font-weight: 500; /* Corrected font-weight value */
}

/* Media query for smaller screens */
@media screen and (max-width: 800px) {
  /* Adjust top padding within the hero container */
  .hero .container {
    padding-top: 30%;
  }

  /* Flexbox layout for form elements */
  form {
    display: flex;
    flex-wrap: wrap;
  }

  /* Remove left border for boxes within the form */
  form .box {
    border-left: none;
  }

  /* Adjust input width for smaller screens */
  form input {
    width: 100%;
  }
}
