.Rollingpage {
  position: relative;
  width: 100%;
  height: 100%; /* Ensures the container covers the full viewport */
}

.Rollingpage .background-video {
  position: fixed; /* Ensure the video is fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the video is behind any content you might add */
  overflow: hidden;
}

.Rollingpage .video-background {
  width: 100vw;
  height: 100vh;
  object-fit: fill; /* Ensure the video fills the entire screen */
}
