.Rollingpage {
  position: relative;
  width: 100%;
  height: 100%; /* Ensures the container covers the full viewport height */
  overflow: hidden; /* Prevents any overflow issues */
}

.Rollingpage .background-video {
  position: fixed; /* Ensure the video is fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the video is behind any content you might add */
}

.Rollingpage .video-background {
  width: 100vw;
  height: 100vh;
  object-fit: fill; /* Ensure the video covers the entire screen */
}

.desktop-video {
  display: block; /* Display desktop video by default */
}

.mobile-video {
  display: none; /* Hide mobile video by default */
}

@media (max-width: 768px) {
  .Rollingpage .video-background {
    object-fit: fill; /* Adjust the video fit for smaller screens */
  }
  
  .desktop-video {
    display: none; /* Hide desktop video on mobile */
  }

  .mobile-video {
    display: block; /* Display mobile video on mobile */
  }
}
