.wedo .topic-container {
  text-align: center;
  margin-bottom: 30px;
}

.wedo .topic-container h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  color: #ffe456;
}

/* Style for the boxes container */
.wedo .boxes-container {
  display: flex;
  flex-wrap: wrap; /* Allow boxes to wrap to the next line */
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

/* Style for individual box */
.wedo .box {
  width: calc(20% - 0px); /* Two boxes per row with spacing */
  max-width: 250px; /* Maximum width for larger screens */
  height: 300px; /* Set a fixed height for the boxes */
  margin: 0 15px 30px; /* Add bottom margin for spacing */
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.wedo .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Style for the image inside box */
.wedo .box .image {
  width: 50%; /* Make the image fill the box */
  height: auto; /* Maintain aspect ratio */
  max-height: 70%; /* Limit image height */
  border-radius: 10px; /* Apply border-radius to the image */
}

/* Style for heading inside box */
.wedo .box h3 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Style for text inside box */
.wedo .box p {
  font-size: 1rem;
  color: #000000;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .wedo .box {
    width: calc(100% - 30px); /* Single box per row on smaller screens */
    margin: 0 0 30px; /* Remove side margins for full-width boxes */
    height: auto; /* Allow boxes to adjust height based on content */
  }

  .wedo .box .image {
    width: 100%; /* Make the image fill the box */
    height: 50%; /* Limit image height on smaller screens */
  }
}
