@import url("https://fonts.googleapis.com/css2?family=Agrandir:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

.newapp {
  text-align: center;
  padding: 20px;
  background-color: #1E191B;
  margin-bottom: -60px;
}

.newapp h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #FEFEFE;
}

.newapp h1 {
  font-family: "Agrandir", sans-serif;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #FEFEFE;
}

.box img.arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.newapp .container {
  max-width: 75%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-top: 100px;
  /* max-width: 1300px; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 430px;
  background-color: #00000000;
}

/* Common box styling */
.newapp .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  transition: transform 0.3s, background-color 0.3s;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.newapp .box span {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: white;
  
}
.newapp .boxblue5 span{
margin-top: 30px;

}
  
.newapp .boxorange8 span{
  margin-top: 50px;
  
  }

/* .newapp .box .arrow {
  font-size: 24px;
  margin-left: 10px;
  display: inline-block;
  transition: transform 0.3s;
} */

/* .newapp .box:hover .arrow {
  transform: translateX(5px);
} */

/* .newapp .box:hover {
  transform: scale(1.05);
} */

/* Individual box colors */
.boxorange1 {
  background-color: #00396C;
}
.boxblue2 {
  background-color: #f7b744;
}
.boxorange3 {
  background-color: #025951;
}
.boxblue4 {
  background-color: #f7b744;
}
.boxblue5 {
  background-color: #F7B744;
}
.boxorange6 {
  background-color: #00396C;
}
.boxorangee {
  background-color: #025951;
}
.boxorange8 {
  background-color: #00396c;
}

/* Box dimensions */
.newapp .box {
  height: 150px;
}

.newapp .boxlarge {
  height: 200px;
}

.newapp .boxtall {
  height: 300px;
}

/* Grid positions */
.newapp .boxorange1 {
  max-width: 277px;
  border-radius: 35px;
  height: 212px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.newapp .boxblue2 {
  border-radius: 35px;
  max-width: 374px;
  height: 212px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.newapp .boxorange3 {
  border-radius: 35px;
  max-width: 512px;
  height: 217px;
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.newapp .boxblue4 {
  border-radius: 35px;
  max-width: 244px;
  height: 407px;
  margin-left: 5px;
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}

.newapp .boxblue5 {
  border-radius: 35px;
  max-width: 277px;
  height: 417px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  background-color: #F7B744;
}

.newapp .boxorange6 {
  border-radius: 35px;
  max-width: 374px;
  height: 192px;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.newapp .boxorangee {
  border-radius: 35px;
  max-width: 374px;
  height: 192px;

  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.newapp .boxorange8 {
  border-radius: 35px;
  max-width: 247px;
  height: 407px;
  margin-left: -15px;
  grid-column: 4 / span 1;
  grid-row: 2 / span2;
}

.newapp .box img.hospitality-image {
  position: absolute;
  top: -8px;
  left: 0px;
  width: auto;
  height: auto;
}

.newapp .box img.datacenters-image {
  position: absolute;

  left: 60px;
  bottom: 60px;
  width: auto;
  height: auto;
}

.newapp .box img.Residential-image {
  position: relative;
  top: 20px;
  left: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
}

.newapp .box img.Kitchen-image {
  position: relative;
  margin-top: -20px;
  left: 50px;
  bottom: 0px;
  width: auto;
  height: auto;
}


.newapp .box img.FanMan-image {
  position: absolute;
  z-index: 1;
  top: 115px;
  left: -40px;
  bottom: 0px;
  width: auto;
  height: auto;
}

.newapp .Supermarket{
  padding-bottom: 250px;
}