.newapp {
  text-align: center;
  padding: 20px;
  background-color: #000000;
}

.newapp h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #ffffff;
}

.newapp h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #ffffff;
}

.box img.arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.newapp .container {
  max-width: 75%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  /* max-width: 1300px; */
  margin: 0 auto;
  padding-bottom: 230px;
  background-color: #00000000;
}

/* Common box styling */
.newapp .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  transition: transform 0.3s, background-color 0.3s;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.newapp .box span {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

/* .newapp .box .arrow {
  font-size: 24px;
  margin-left: 10px;
  display: inline-block;
  transition: transform 0.3s;
} */

/* .newapp .box:hover .arrow {
  transform: translateX(5px);
} */

.newapp .box:hover {
  transform: scale(1.05);
}

/* Individual box colors */
.boxorange1 {
  background-color: #00396c;
}
.boxblue2 {
  background-color: #f7b744;
}
.boxorange3 {
  background-color: #025951;
}
.boxblue4 {
  background-color: #f7b744;
}
.boxblue5 {
  background-color: #f7b744;
}
.boxorange6 {
  background-color: #00396c;
}
.boxorange7 {
  background-color: #025951;
}
.boxorange8 {
  background-color: #00396c;
}

/* Box dimensions */
.newapp .box {
  height: 150px;
}

.newapp .boxlarge {
  height: 200px;
}

.newapp .boxtall {
  height: 300px;
}

/* Grid positions */
.newapp .boxorange1 {
  max-width: 277px;
  border-radius: 35px;
  height: 212px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.newapp .boxblue2 {
  border-radius: 35px;
  max-width: 374px;
  height: 212px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.newapp .boxorange3 {
  border-radius: 35px;
  max-width: 512px;
  height: 217px;
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.newapp .boxblue4 {
  border-radius: 35px;
  max-width: 244px;
  height: 444px;
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}

.newapp .boxblue5 {
  border-radius: 35px;
  max-width: 277px;
  height: 447px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  background-color: #f2a444;
}

.newapp .boxorange6 {
  border-radius: 35px;
  max-width: 374px;
  height: 217px;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.newapp .boxblue7 {
  border-radius: 35px;
  max-width: 374px;
  height: 212px;
  background-color: #ffffff;

  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.newapp .boxorange8 {
  border-radius: 35px;
  max-width: 247px;
  height: 444px;
  margin-left: -15px;
  grid-column: 4 / span 1;
  grid-row: 2 / span2;
}
