.newapp {
  text-align: center;
  padding: 20px;
  background-color: #000000;
}

.newapp h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #ffffff;
}

.newapp h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #ffffff;
}

.newapp .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #000000;
}

/* Common box styling */
.newapp .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  transition: transform 0.3s, background-color 0.3s;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.newapp .box span {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

.newapp .box .arrow {
  font-size: 24px;
  margin-left: 10px;
  display: inline-block;
  transition: transform 0.3s;
}

.newapp .box:hover .arrow {
  transform: translateX(5px);
}

.newapp .box:hover {
  transform: scale(1.05);
}

/* Individual box colors */
.newapp .boxorange1 {
  background-color: #024873;
}

.newapp .boxblue2 {
  background-color: #f2a444;
}

.newapp .boxorange3 {
  background-color: #025951;
}

.newapp .boxblue4 {
  background-color: #f2a444;
}

.newapp .boxblue5 {
  background-color: #024873;
}

.newapp .boxorange6 {
  background-color: #025951;
}

.newapp .boxblue7 {
  background-color: #f2a444;
}

.newapp .boxorange8 {
  background-color: #024873;
}

/* Box dimensions */
.newapp .box {
  height: 150px;
}

.newapp .boxlarge {
  height: 200px;
}

.newapp .boxtall {
  height: 300px;
}

/* Grid positions */
.newapp .boxorange1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.newapp .boxblue2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.newapp .boxorange3 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.newapp .boxblue4 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}

.newapp .boxblue5 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.newapp .boxorange6 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.newapp .boxblue7 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.newapp .boxorange8 {
  grid-column: 4 / span 1;
  grid-row: 2 / span2;
}
