@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.footer {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-around;
  background-color: #0e121e;
  color: #fff;
  padding: 20px;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.footer .column {
  margin-top: 80px;
  margin-left: 30px;
  flex: 1;
  padding: 0 20px;
}

.footer .column1 {
  margin-top: 80px;
  margin-left: 30px;
  width: 185px;
}

.footer .column .cservice {
  margin-top: 50px;
}

.footer .column p {
  margin-top: 30px;
  color: white;
}

.footer .logo img {
  width: 250px;
  height: auto;
}

.footer .logo p {
  margin-top: 20px;
}

.footer .social-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 40px;
}

.footer .social-icon {
  margin: 0 5px;
  font-size: 24px;
  margin-right: 15px;
}

.footer .social-icon i {
  transition: transform 0.2s ease; /* Add transition effect */
}

.footer .social-icon:hover i {
  transform: scale(1.2); /* Scale up the icon on hover */
}

.footer h3 {
  font-size: 22px;
  color: white;
  font-weight: 600;
}

.footer ul {
  list-style: none;
  padding: 0;
  color: white;
  margin-top: 30px;
}

.footer ul li {
  margin-bottom: 5px;
  color: white;
}
.footer ul li a {
  color: white;
  text-decoration: none;
  line-height: 30px;
}

.footer .newsletter-form {
  margin-top: 30px;
}

.footer input[type="email"] {
  width: calc(100% - 100px);
  margin-right: 10px;
  background-color: #0e121e;
  border-radius: 20px;
  height: 25px;
  border: 2px solid white;
  color: #fff;
}

.footer input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.563);
  font-size: 14px;
}

.footer button {
  padding: 5px 10px;
  background-color: #0e121e;
  color: #ffffff;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 10px;
  height: 30px;
}

.footer .contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  line-height: 35px;
}

.footer .contact-item {
  display: flex;
  align-items: center;
}

.footer .contact-item .icon {
  margin-right: 10px;
}

.footer .contact-item p {
  margin: 0;
  color: white;
}

.footer .column .contact-info .contact-item .info {
  margin-top: 0px;
}

.footer .app {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer .app .icon p {
  font-weight: 500;
}

.footer .store-icons {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.footer .store-icons svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.footer .additional-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-basis: 85%; /* Take full width */
  margin-top: 120px; /* Adjust spacing */
  border-top: 1px solid white;
}

.footer .additional-links p {
  margin: 30px 15px;
}

.footer .additional-links a {
  color: white;
  text-decoration: none;
}

/* Add vertical lines */
.footer .additional-links .vertical-line {
  width: 1px;
  height: 20px; /* Adjust height as needed */
  background-color: white;
  margin: 0 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center items horizontally */
    background-color: #0e121e;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }

  footer .column {
    width: 100%; /* Occupy full width */
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
  }

  .footer .column1 {
    margin-top: 50px;
    padding-left: 30px;
    width: 100%;
  }
  .footer .logo img {
    width: 250px;
    height: auto;
  }

  .footer .logo p {
    margin-left: 10px;
  }

  .footer .social-icons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    align-items: center;
  }

  .footer .social-icon {
    margin: 10px; /* Adjust spacing */
    font-size: 24px;
  }

  .footer h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
  }

  .footer ul {
    list-style: none;
    padding: 0;
    margin-top: 10px; /* Adjust spacing */
  }

  .footer ul li {
    margin-bottom: 5px;
  }

  .footer ul li a {
    color: white;
    text-decoration: none;
  }
  .footer input[type="email"] {
    width: calc(100% - 100px);
    margin-right: 10px;
    background-color: #0e121e;
    border-radius: 20px;
    height: 25px;
    border: 1px solid white;
    color: #fff;
  }
  
  .footer input[type="email"]::placeholder {
    color: rgba(255, 255, 255, 0.563);
    font-size: 14px;
  }
  
  .footer button {
    padding: 5px 10px;
    background-color: #0e121e;
    color: #ffffff;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 10px;
    height: 30px;
  }

  .footer .contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .footer .contact-item {
    display: flex;
    align-items: center;
  }

  .footer .contact-item .icon {
    margin-right: 10px;
  }

  .footer .contact-item p {
    margin: 0;
  }

  .footer .app {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .footer .store-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }

  .footer .store-icons svg {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .footer .additional-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    border-top: 1px solid white;
  }

  .footer .additional-links p {
    margin: 20px 15px;
  }

  .footer .additional-links a {
    color: white;
    text-decoration: none;
  }

  .footer .vertical-line {
    width: 1px;
    height: 20px;
    background-color: white;
    margin: 0 10px;
  }
}
