.Applications {
  max-width: 100%;
  margin-left: 80px;
  margin-right: 70px;

  max-height: 1100px;
}

.Applications .headingApplication {

  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  color: #ffe456;
}

.Applications .application_container {
  margin-top: 80px;
  border-radius: 25px;
  border-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.Applications .image-box {
  position: relative;
  padding: 10px;
  height: 280px;
  width: 280px;
  background-color: #ffffff6f;
  border-radius: 25px; /* Add border-radius */
}

.Applications .image-box img {
  width: 100%;
  border-radius: 25px;
  height: 100%;
  display: none; /* Initially hide the image */
}

.Applications .image-box p {
  
  margin-top: 130px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  cursor: pointer; /* Add pointer cursor to indicate hover effect */
}

.Applications .image-box:hover img {
  
  display: block; /* Show the image when its container is hovered */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
