.footer {
  position: relative;
  background-color: black;
  padding: 10px 20px;
  height: auto;
  color: #FFC610;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1E191B;
  z-index: 1;
  height: 0%;
}

.footer-logo {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:55px; /* Adjust as needed */
}

.footer-logo img {
  max-width: 100%;
  height: auto;
  margin-top: 0px;
}

.footer-overlay {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 0px;
  width: 100%;
  max-width: 1200px;
  margin-top: -190px;
}

.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-right{
  margin-right: 310px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-item {
  background-color: #025951;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 35px;
  margin: 10px 0;
  text-align: left;
  color: #FFC610;
  width: 350px;
  height: auto;
  border: 1px solid #FFC610;
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer-socials {
  margin-top: 20px;
}

.socials-box {
  background-color: #025951;
  padding: 1px 20px;
  border-radius: 35px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  border: 1px solid #FFC610;
  font-family: "Poppins", sans-serif;
}

.footer-socials p {
  margin: 0;
}

.socials-box .social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer-socials a {
  color: #025951;
  background-color: #FFC610;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-hours p {
  background-color: #025951;
  padding: 20px 20px;
  border-radius: 20px;
  text-align: left;
  margin: 110px 0;
  color: #FFC610;
  width: 250px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {

  .footer{
    padding-top: 180px;
  }
  .footer-overlay {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: -10px;
  }

  .footer-contact{
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 120px;
  }

  .contact-item{
    width: 330px;
  }

  .footer-left{
    margin-bottom: 0px;
    margin-left: -1px;
    
  }

  .socials-box{
    width: 330px;
  }

  .footer-hours p {
    margin-left: 315px;
    margin-bottom: 15px;


  }

  .footer-logo img{
    margin-bottom: -380px;
  }
}
