.footer {
  display: flex;
  justify-content: space-around;
  background-color: #a2a0a0;
  color: #fff;
  padding: 20px;
  height: 300px;
}

.footer .column {
  flex: 1;
  padding: 0 20px;
}

.footer .column p {
  margin-top: 30px;
  color: white;
}

.footer .logo img {
  width: 250px;
  height: auto;
}

.footer .logo p {
  margin-top: 20px;
}

.footer .social-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 40px;
}

.footer .social-icon {
  margin: 0 5px;
  font-size: 24px; /* Adjust the font size as needed */
}

.footer .social-icon i {
  transition: transform 0.2s ease; /* Add transition effect */
}

.footer .social-icon:hover i {
  transform: scale(1.2); /* Scale up the icon on hover */
}


.footer h3 {
  font-size: 16px;
  color: white;
}

.footer ul {
  list-style: none;
  padding: 0;
  color: white;
  margin-top: 50px;
}

.footer ul li {
  margin-bottom: 5px;
  color: white;
}

.footer input[type="email"],
button {
  display: inline-block;
  vertical-align: middle;
}

.footer .newsletter-form {
  margin-top: 30px;
}

.footer input[type="email"] {
  width: calc(100% - 80px);
  padding: 5px;
  margin-bottom: 10px;
}

.footer button {
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
}

.footer button:hover {
  background-color: #ccc;
}

.footer .contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.footer .contact-item {
  display: flex;
  align-items: center;
}

.footer .contact-item .icon {
  margin-right: 10px;
}

.footer .contact-item p {
  margin: 0;
  color: white;
}

.footer .column .contact-info .contact-item .info{
  margin-top: 0px;
}

.footer .additional-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%; /* Make the section take full width */
}

.footer .additional-links p {
  margin: 0 10px;
}

