.m_services .more-services {
    display: grid;
    margin: 80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 200px;
    margin-bottom: 150px;
  }
  
  .m_services .service-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
  }
  
  
  
  .m_services .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 550px;
    
  }
  
  .m_services .header {
    font-size: 16px;
    font-weight: bold;
    color: #07794C;
    margin-right: 300px;
  }
  
  .m_services .title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 300px;
  }
  
  .m_services .rating {
    font-size: 14px;
    color: #888;
    margin-right: 300px;
  }
  
  .m_services .price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 300px;
  }
  
  .m_services .description {
    font-size: 14px;
    margin-top: 10px;
    margin-right: 200px;
  }
  
  .m_services .service-box1{
    text-align: left;
  }

  
  .m_services .add-button {
    background-color: #CBC6C6;
    color: #6a1b9a;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; /* Ensure button text is centered */
    display: inline-block; /* Ensure button takes up only necessary width */
    margin-left: 232px;
    margin-top: -2px;
    position: absolute;
    text-decoration: none;
  }
  
  .m_services .service-box1 .details-button{
    background-color: white;
    border: 0;
    color:#6a1b9a ;
    font-weight: bold;
  
  }
  
  .m_services .service-box1 .card{
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 20px;
  }
  
  .m_services .hrl {
    width: 200px;
    margin-right: 350px;
  }
  
  
  .m_services .service-box1 .add-button{
    margin-left: 350px;
    position: absolute;
    margin-top: -350px;
    width: 80px;
  }
  
  /* .details-button:hover,
  .add-button:hover {
    background-color: #4a148c;
  } */
  
  .m_services .more-services-button {
    text-align: center;
    margin-top: -150px;
    margin-left: 100px;
    padding-bottom: 50px;
  }
  
  .m_services .more-services-btn {
    background-color: #74EE9D;
    color: #ffffff;
    border: none;
    margin-left: 0px;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  
  
  
  .m_services .service-box1 .service-image {
    float: right; 
    position: relative; 
    top: -140px; 
    right: 0; 
    width: 150px;
    margin-left: 20px; 
  }
  